:root {
    --bg-color: #2F2C2C;
    --txt-color: white;
    --streamcard-meta-panel-subcolor: #cedaed;
    --streamcard-meta-panel-color: #3E3D3D;
    --list-container-color: #1F1F1F;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);
    width: 100%;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.03);
}

.dark-link {
    color: blue;
}

.boxShadow {
    box-shadow: var(--box-shadow);
}

.textShadow {
    text-shadow: var(--text-shadow);
}

.login-box .title {
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }
  
  .login-box .branding {
    color: white;
    position: relative;
    top: -90px;
    margin-bottom:-60px;
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    color: #cccccc;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 0px 0;
    font-size: 16px;
    color: #fff;
    margin-top: 0px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: relative;
    top: -35px;
    left: 0;
    padding: 5px 0px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -55px;
    left: 0;
    color: #03e9f4;
    font-size: 16px;
  }
  
  .login-box hr {
    border-top: 2px solid white;
  }
  
  .login-box .hint {
    text-align: center;
    color: gray;
    position: relative;
    top: -15px
  }
  
  .login-box .hint a {
    text-decoration: none;
    color: gray;
  }
  
  .login-box .hint a:hover {
    color: white;
    transition: .5s;
  }
  
  .login-box .circular_image {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #1d1c1c;
    border: 1px solid white;
    box-shadow: 0 10px 25px rgba(0,0,0,.6);
  }
  
  .login-box .circular_image img {
    width: 100%;
  }

.nsfw {
    display: none;
}

.content {
    position: relative;
    top: 75px;
}

.live-badge {
    padding: 2px 8px;
    background-color: #FF2020;
    border-radius: 4px;
    text-align: center;
}

.live-viewers-badge {
    padding: 2px 8px;
    background-color: #206CFF;
    border-radius: 4px;
    text-align: center;
}

.liveChannels {
    width: 100%;
    border-radius: 6px 6px;
    padding: 10px;
    background-color: var(--list-container-color);
}

.liveChannels a {
    text-decoration: none;
    color: white;
}

.liveChannels ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.streamcard-name {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.streamcard-metadata {
    margin-top: 0;
    background-color: var(--streamcard-meta-panel-color);
    border-radius: 0 0 6px 6px;
    padding: 5px;
}

.streamcard-badges {
    color: white;
    position: relative;
    top:40px;
    left: 5px;
    margin-top: -40px;
    padding: 5px;
}

.streamcard-user-img {
    width: 42px;
    height: 42px;
    position: relative;
    top: 4px;
    left: 5px;
}

.streamcard-metadata-description {
    width: 320px;
    color: var(--streamcard-meta-panel-subcolor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.streamcard-img {
    border-radius: 6px 6px 0 0;
    max-width: 320px;
}

.servercard-metadata {
    width: 320px;
    height: 60px;
    margin-top: 0;
    background-color: var(--streamcard-meta-panel-color);
    border-radius: 6px;
    padding: 5px;
}

.servercard-name {
    position: relative;
    top:10px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nsfwOverlay {
    position: fixed;
    bottom: 30px;
    left: 30px;
}