{% extends "layout.html" %}
{% import "macros/ui_base.html" as ui_base with context %}
{% import "macros/content_blocks.html" as content_blocks with context %}

{% block head %}
{% endblock %}

{% block body %}

{{ ui_base.top_navbar() }}
<div class="container-fluid">
    <div class="content m-4 pb-4">
        {{ ui_base.motd() }}
        {{ content_blocks.liveChannels() }}
        {{ content_blocks.communityServers() }}
    </div>
</div>
{{ ui_base.nsfwOverlay() }}
{%- endblock %}

{% block scripts %}
<script src="/static/js/ui.js"></script>
<script src="/static/js/hubloader.js"></script>
{% endblock %} 

{% block foot %}
{% endblock %}